body{
    height: 100%;
    width: 100%;
}
.section{
    height: 33%;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
}
.usuario{
    margin-top: 16px;
    margin-left: 4px;
    border-radius: 6px;
    background-color: white;
    border: 2px blue solid;
    width: 25%;
    height: 100%;
    padding: 4px 8px 4px;
    max-height: 100%;
}
.contenido{
    position: block;
    
    max-height: 100%;
    background-color: white;
    width: 100%;
    margin-left: 10px;
    margin-top: 16px;
    border: 2px blue solid;
    border-radius: 6px;
    padding: 4px 8px 4px;
}
.section2 i{
    line-height: 35px;
}
.section , .section2 , .section3{
    text-align: center;
}
.avatar{
    padding-top: 14px;
    width: 80px;
    height: 100px;
}
.cabeza{
    width: 100%;
    height: 20%;
    display: block;
    margin-top: 10px;
    margin-left: 5px;
}
.cuerpo{
    width: 100%;
    height: 80%;
    display: block;
    
}
table{
    text-align: center;
    width: 100%;
    height: 90%;
    display: block;
    overflow: scroll;
}
.table-fixed{
    height: 80%;
    width: 100%;
    display: block;
}
td,th{
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px !important;
    overflow: hidden !important;
    max-height: 42px !important;
}
.d-flex{
    position: relative;
    float: right;
    width: 60%;
    right: 10px;
}
.busqueda .btn{
    height: 40px;
    width: 120px;
    border-color: #0d6efd;
    
    color:#0d6efd;
}
.btn:hover{
    background-color: #0d6efd;
    color: #fff;
}
/*.titulo{
    min-width: 145px;
}
table img{
    width: 20px;
    height: 20px;
    float: left; */

/* th,td{
    display: block;
    display: inline-block; 
} */
/* .table-fixed tbody,.table-fixed thead, .table-fixed td, .table-fixed th{
    display: block;
}
.table-fixed tbody td,
.table-fixed thead tr th{
    float: left;
} */
